<!-- LOGIN FORM -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'core.navbar.login' | translate" [buttons]="buttons">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row">
                <!-- Email -->
                <div class="form-group col-12">
                    <label for="emailInput">{{ 'landing.home.login.emailLabel' | translate }}</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                           placeholder="Email" formControlName="email" required autocomplete="email">
                </div>

                <!-- Password -->
                <div class="form-group col-12">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordInput"
                           placeholder="Password" formControlName="password" required
                           autocomplete="current-password">
                </div>

                <!-- Remember me -->
                <div class="form-group col-12">
                    <app-checkbox [(checked)]="rememberMe"
                                  [label]="'landing.home.login.rememberMeButton' | translate"></app-checkbox>
                </div>

                <!-- Wrong email error -->
                <div class="col-12">
                    <div class="alert alert-warning" *ngIf="loginError">
                        {{ 'landing.home.login.wrongEmailOrPassword' | translate }}
                    </div>
                </div>

                <!-- Login and cancel buttons -->
                <div class="col-12 modal-footer pt-0">
                    <button type="button" class="action-button back"
                            data-dismiss="modal">{{ 'common.buttons.close' | translate }}</button>
                    <button type="submit" class="action-button"
                            [disabled]="!loginForm.valid || loggingIn">{{ 'core.navbar.login' | translate }}</button>
                </div>
            </form>
            <hr>

            <!-- Register and recover password button -->
            <div class="text-center">
                <a href="#" class="link-cta dark" data-dismiss="modal" data-toggle="modal"
                   data-target="#recoverPasswordModal">{{ 'landing.home.login.recoverPasswordLink' | translate }}</a><br>
                <a href="#" class="link-cta dark" data-dismiss="modal" data-toggle="modal"
                   data-target="#registerModal">{{ 'landing.home.login.goToRegisterLink' | translate }}</a>
            </div>
        </app-notebook-sheet>
    </div>
</div>
