<div class="smartphone" [class.open]="isOpen" *ngIf="isOpen">
    <div class="exit-flag-container" (click)="closeChat()">
        <img class="exit-flag" src="/assets/img/flag-exit-navbar.svg"/>
    </div>
    <div class="camera-container">
        <img src="/assets/img/frame-camera.svg"/>
    </div>
    <div class="display">

        <!-- Messages container -->
        <div class="messages"
             infiniteScroll
             (scrolledUp)="onScrollUp()"
             [scrollWindow]="false">

            <!-- List is loading message -->
            <div *ngIf="loadingPreviousMessages">{{ 'user.listPage.chat.loadingPreviousMessages' | translate }}</div>

            <!-- Message -->
            <div *ngFor="let message of messages" class="message" [class.my-message]="user.id == message.user.id">
                <!-- Name of user who sent the message -->
                <strong>{{ message.user.firstName }}</strong><br>

                <!-- Text of message-->
                {{ message.message }}<br>

                <!-- Message sending time -->
                <div class="message-time"><em>{{ message.sentAt |  date:'medium' }}</em></div>
            </div>

        </div>

        <!-- Area to insert new message -->
        <div class="write-message-box">
            <form (ngSubmit)="sendMessage()" #form="ngForm">
                <textarea class="new-message" name="message"
                          [(ngModel)]="newMessage" required
                          (keydown)="onKeyDown($event)"
                          [placeholder]="'user.listPage.chat.writeMessagePlaceholder' | translate"></textarea>
            </form>
        </div>
    </div>
</div>
