<div class="smartphone" [class.open]="isOpen" *ngIf="isOpen">
    <div class="display">
        <div class="messages"
             infiniteScroll
             (scrolledUp)="onScrollUp()"
             [scrollWindow]="false"
        >

            <div *ngIf="loadingPreviousMessages">Sto caricando i messaggi più vecchi ...</div>

            <div *ngFor="let message of messages" class="message" [class.my-message]="user.id == message.user.id">
                <strong>{{ message.user.firstName }}</strong>
                {{ message.message }}
            </div>

        </div>

        <div class="write-message-box">
            <form (ngSubmit)="sendMessage()"  #form="ngForm">
                <textarea class="new-message" name="message" [(ngModel)]="newMessage" required
                          (keydown)="onKeyDown($event)"></textarea>

                <button type="submit" [disabled]="!form.valid || isSending">Invia</button>
            </form>
        </div>
    </div>
</div>

<div class="open-chat-trigger">
    <button (click)="toggleChat()">Apri</button>
</div>
