div.smartphone {

    width: 23.75em;
    height: 100%;

    max-width: 95vw;
    max-height: calc(85vh - var(--navbarHeight));

    display: flex;

    background-image: linear-gradient(to bottom, #2e2e2e , #0e0e0e);
    border: 1px solid #0e0e0e;
    border-radius: 20px;

    margin: 2em 0 2em 4em;

    box-shadow: 15px 15px 3px 0 #00000088;
}

@media (max-width: 768px) {
    div.smartphone {
        position: fixed;
    }

    div.smartphone.open {
        top: 2em;
        right: 0;
    }
}

.display {
    width: 100%;
    margin: 1em 3em;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    padding: .5em;
    background-color: lightgreen;
}

.message.my-message {
    background-color: lightblue;
}

.new-message {
    width: 100%;
    resize: none;

    border: 0;
    border-top: 2px solid var(--lightDarkened);

    padding: 0.5em;
}
