<div class="smartphone" [class.open]="isOpen" *ngIf="isOpen">
    <div class="exit-flag-container" (click)="closeChat()">
        <img class="exit-flag" src="/assets/img/flag-exit-navbar.svg" />
    </div>
    <div class="camera-container">
        <img src="/assets/img/frame-camera.svg" />
    </div>
    <div class="display">
        <div class="messages"
             infiniteScroll
             (scrolledUp)="onScrollUp()"
             [scrollWindow]="false"
        >

            <div *ngIf="loadingPreviousMessages">{{ 'user.listPage.chat.loadingPreviousMessages' | translate }}</div>

            <div *ngFor="let message of messages" class="message" [class.my-message]="user.id == message.user.id">
                <strong>{{ message.user.firstName }}</strong><br>
                {{ message.message }}<br>
                <div class="message-time"><em>{{ message.sentAt |  date:'medium' }}</em></div>
            </div>

        </div>

        <div class="write-message-box">
            <form (ngSubmit)="sendMessage()"  #form="ngForm">
                <textarea class="new-message" name="message"
                          [(ngModel)]="newMessage" required
                          (keydown)="onKeyDown($event)"
                          [placeholder]="'user.listPage.chat.writeMessagePlaceholder' | translate"></textarea>
            </form>
        </div>
    </div>
</div>
