.container.admin {
    width: 90vw;
    margin-top: 2em;

    background-color: var(--light);
    padding: 1em;
    border-radius: 8px;
}

@media (max-width: 576px) {
    .container.admin {
        width: 100vw;
        margin: 1rem auto;
    }
}
