<div class="big-header egged">
    <div class="container big-header-content d-flex align-items-center">
        <div>
            <h1>Titolo</h1>
            <p class="description mt-3"> D'ora in avanti non ti dimenticherai più niente e la tua vita sarà più semplice. Inserisci, modifica ed elimina gli elementi che devi comprare con un solo click.</p>
            <div>
                <button class="action-button big" routerLink="/tryNow">Prova ora!</button>
            </div>
            <div class="mt-3">
                <a class="link-cta" href="#" data-toggle="modal" data-target="#loginModal">Hai già un account?</a>
            </div>
        </div>
    </div>
    <div class="food-bg"></div>
</div>

<div class="light-background">
    <div class="container presentation-area">
        <!-- Lista della spesa virtuale -->
        <div class="row">
            <div class="col-md-4 align-middle d-flex justify-content-center align-items-center">
                <img class="home-image img-fluid" src="../../../assets/img/phone-with-app.svg">
            </div>
            <div class="col-md-8 align-middle d-flex align-items-center">
                <div>
                    <h2>La lista della spesa VIRTUALE</h2>
                    <p class="text-justify">Con quest'applicazione potrai fare delle comode e facili liste della spesa. Le potrai modificare in qualsiasi momento: aggiugengo, eliminando e modificando la lista.</p>
                </div>
            </div>
        </div>

        <!-- Condividi lista -->
        <div class="row">
            <div class="col-md-4 order-md-2 align-middle d-flex justify-content-center align-items-center">
                <img class="home-image img-fluid " src="../../../assets/img/people.svg">
            </div>
            <div class="col-md-8 order-md-1 align-middle d-flex align-items-center">
                <div>
                    <h2>Potrai condividere le tue liste con gli amici!</h2>
                    <p class="text-justify">Devi organizzare una festa e dovete fare una lista su cosa coomprare? Falla con la nostra applicazione! In breve tempo avrai pronta la tua lista, facile da usare e potrai condivederla con chi vuoi!
                       Ti dimentichi di comprare ciò che dice la morosa?
                       D'ora in poi non dimenticherai più niente! Crea una lista condivisa e sarai sempre aggiornato e pronto!</p>
                </div>
            </div>

        </div>


        <!-- Ti ricorda quando andare a fare la spesa -->
        <div class="row">
            <div class="col-md-4 align-middle d-flex justify-content-center align-items-center">
                <img class="home-image img-fluid" src="../../../assets/img/path.svg">
            </div>
            <div class="col-md-8 align-middle d-flex align-items-center">
                <div>
                    <h2>Ti ricorda quando fare la spesa!</h2>
                    <p class="text-justify">Questa fantastica applicazione implementa delle feature degni di uno stalker professionista: ti traccia ovinque ti muovi. E se ti avvicini alla Coop più vicina ti rompe le balle con una notifica che ti ricorda di fare la spesa, quando in realtà speravi di andare a casa a dormire. Che fannullone!</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="ending">
    <div class="container">
        <h2>Che cosa aspetti?</h2>
        <p class="description">Crea anche tu la tua lista della spesa virtuale!</p>
        <button class="action-button big" routerLink="/tryNow">Prova ora!</button>
        <div class="mt-3">
            <a class="link-cta" href="index.html" data-toggle="modal" data-target="#loginModal">Hai già un account?</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-content">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Informazioni legali</a></li>
            <li class="list-inline-item">
                <a href="#">Chi siamo</a></li>
            <li class="list-inline-item">
                <a href="#">Privacy</a></li>
        </ul>
    </div>
</div>


<!-- Login and register modals -->
<landing-login></landing-login>
<landing-register></landing-register>
<landing-recover-password></landing-recover-password>
