<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'core.navbar.register' | translate" [buttons]="buttons">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstNameInput">{{ 'landing.home.register.fields.firstName' | translate }}</label>
                    <input type="text" class="form-control" id="firstNameInput" aria-describedby=""
                           [placeholder]="'landing.home.register.fields.firstName' | translate" formControlName="firstName">

                    <div *ngIf="shouldShowErrors(firstName)"
                         class="alert alert-danger">

                        <div *ngIf="firstName.errors.required">
                            {{ 'landing.home.register.errors.insertFirstName' | translate}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstNameInput">{{ 'landing.home.register.fields.lastName' | translate }}</label>
                    <input type="text" class="form-control" id="lastNameInput" aria-describedby=""
                           [placeholder]="'landing.home.register.fields.lastName' | translate" formControlName="lastName">

                    <div *ngIf="shouldShowErrors(lastName)"
                         class="alert alert-danger">

                        <div *ngIf="lastName.errors.required">
                            {{ 'landing.home.register.errors.insertLastName' | translate }}
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="registerEmail">{{ 'landing.home.register.fields.email' | translate }}</label>
                    <input type="email" class="form-control" id="registerEmail" aria-describedby="emailHelp"
                           [placeholder]="'landing.home.register.fields.email' | translate" formControlName="email" required autocomplete="email">

                    <div *ngIf="shouldShowErrors(email)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            {{ 'landing.home.register.errors.insertEmail' | translate }}
                        </div>
                        <div *ngIf="email.errors.email">
                            {{ 'landing.home.register.errors.invalidEmail' | translate }}
                        </div>
                    </div>
                    <div *ngIf="emailAlreadyInUse" class="alert alert-danger">
                        <div>
                            {{ 'landing.home.register.errors.emailAlreadyInUse' | translate }}
                        </div>
                    </div>
                </div>

                <app-new-password [passwords]="registerForm.get('passwords')"></app-new-password>

                <div class="form-group">
                    <app-checkbox [(checked)]="privacy" [label]="'landing.home.register.fields.acceptPrivacyContract' | translate"></app-checkbox>
                </div>


                <div class="modal-footer">
                    <button type="button" class="action-button back" data-dismiss="modal">{{ 'common.buttons.close' | translate }}</button>
                    <button type="submit" class="action-button"
                            [disabled]="!registerForm.valid || registering || !privacy">{{ 'core.navbar.register' | translate }}</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                <a href="#" class="link-cta dark" data-dismiss="modal" data-toggle="modal"
                   data-target="#loginModal">{{ 'landing.home.register.goToLoginLink' | translate }}</a>
            </div>
        </app-notebook-sheet>
    </div>
</div>

<!-- REGISTERED -->
<div class="modal fade" id="registeredModal" tabindex="-1" role="dialog" aria-labelledby="registeredModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'landing.home.register.emailSent.title' | translate">
            <p>{{ 'landing.home.register.emailSent.description' | translate }}</p>
        </app-notebook-sheet>
    </div>
</div>
