div.modal {
    position: fixed;
    overflow-y: scroll;
}

div.privacy-policy {
    position: relative;
}

.privacy-polity-checkbox {
    float: left;
}

a.privacy-policy-trigger,
a.privacy-policy-trigger:hover {
    text-decoration: underline;
}

div.privacy-popover {
    top: initial;
    bottom: 2em;
}


div.popover {
    padding: .5em;
}

div.popover-content {
    overflow-y: scroll;
    max-height: 40vh;
}
