<div class="modal fade" id="listSharingSettingsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet title="Condivisione lista" [buttons]="buttons">
            <!-- Creator -->
            <div class="row creator">
                <h6 class="col-12">
                    <strong class="pl-3 pr-2">Creata da</strong>
                    <img [src]="list.creator.photo | image" class="icon small-icon">
                    {{ list.creator.firstName }} <span *ngIf="isUserTheCreator">(Io)</span>
                </h6>
            </div>

            <!-- Collaborators and invites -->
            <div class="container-fluid mb-2 collaborators-container">
                <share-collaborators-and-invites [list]="list"></share-collaborators-and-invites>
            </div>

            <!-- Add collaborator -->
            <div class="container-fluid mb-2">
                <add-collaborator [list]="list"></add-collaborator>
            </div>

            <!-- Legenda -->
            <share-legenda class="d-none d-sm-block"></share-legenda>
        </app-notebook-sheet>
    </div>
</div>
