.demo {
    min-width: 100vw;
    height: calc(100vh - var(--navbar-height));
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--user-background);
}

