<div class="row">
    <div class="col-12 notebook-sheet-strip blue-strip">
        <h6>{{ 'user.listPage.share.legend.title' | translate }}</h6>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="/assets/img/ic_ham_permission_on.svg">

        <p>{{ 'user.listPage.share.legend.roles.ham' | translate }}</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/ic_social_permission_on.svg">
        <p>{{ 'user.listPage.share.legend.roles.social' | translate }}</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/ic_admin_permission_on.svg">
        <p>{{ 'user.listPage.share.legend.roles.admin' | translate }}</p>
    </div>
</div>
