<div class="row">
    <div class="col-12 notebook-sheet-strip blue-strip">
        <h6>Significato simboli</h6>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="/assets/img/ic_admin_permission_on.svg">
        <p>Gestisce gli oggetti</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/ic_social_permission_on.svg">
        <p>Gestisce gli oggetti e le collaborazioni</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/ic_ham_permission_on.svg">
        <p>Gestisce gli oggetti, le collaborazioni e i dettagli</p>
    </div>
</div>
