<div class="modal fade new-list" id="newListModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuova lista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="new-list-form" (submit)="onCreate()" #form="ngForm">
                    <div class="icon-title-and-category">
                        <div>
                            <img [src]="newListIcon | image" class="list-icon">
                        </div>
                        <div class="title-and-category">
                            <div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome lista"
                                           [(ngModel)]="newList.name" required name="newListName">
                                </div>
                            </div>
                            <div>
                                <select required [(ngModel)]="newList.category" name="newListCategory">
                                    <option *ngFor="let category of categories$ | async" [ngValue]="category">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <textarea class="form-control" name="newListDescription"
                                      [(ngModel)]="newList.description" placeholder="Descrizione"></textarea>
                        </div>
                    </div>

                    <button type="submit" class="action-button" [disabled]="!form.valid">Crea</button>
                </form>
            </div>
        </div>
    </div>
</div>
