<div class="modal fade new-list" id="newListModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <app-notebook-sheet title="Nuova lista" [buttons]="buttons">
            <form class="new-list-form row" (submit)="onCreate()" #form="ngForm">

                <div class="col-2 col-sm-4">
                    <app-show-change-image [(image)]="newListIcon"></app-show-change-image>
                </div>

                <div class="col-10 col-sm-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nome lista"
                                       [(ngModel)]="newList.name" required name="newListName">
                            </div>
                        </div>

                        <div class="col-12">
                            <app-select [values]="categories$ | async"
                                        [(selected)]="newList.category"></app-select>
                        </div>
                    </div>
                </div>


                <textarea class="form-control col-12 mb-3" name="newListDescription"
                          [(ngModel)]="newList.description" placeholder="Descrizione"></textarea>


                <button type="submit" class="action-button" [disabled]="!form.valid || isSaving">Crea
                </button>
            </form>
        </app-notebook-sheet>
    </div>
</div>
