.cookie-container {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

div.card {
    background-color: #003765;
    color: white;

    padding-bottom: .5em;
    padding-right: .5em;
}

img.card-img-top {
    width: 4em;
}

div.card-body {
    padding-bottom: 0;
}

div.text-right {
    display: flex;
    justify-content: flex-end;
}
