<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableItems"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            [class.v-sm-hidden]="isUser$ | async">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-none d-lg-block" href="#">{{ applicationName }}</a>

    <div class="collapse navbar-collapse" id="collapsableItems">
        <!-- Guest links -->
        <ul *ngIf="isGuest$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/tryNow" routerLinkActive="active">{{ 'landing.home.tryNowButton' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">{{ 'core.navbar.login' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">{{ 'core.navbar.register' | translate }}</a>
            </li>
        </ul>

        <!-- Admin links -->
        <ul *ngIf="isAdmin$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'products']" routerLinkActive="active">Prodotti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'productCategories']" routerLinkActive="active">Categorie
                    prodotti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'shoppingListCategories']" routerLinkActive="active">Categorie
                    liste</a>
            </li>
        </ul>

        <!-- internationalization menu for not logged in users -->
        <ul *ngIf="isGuest$ | async" class="navbar-nav">
            <li class="nav-item" *ngIf="currentLocale != 'it-IT'">
                <a class="nav-link language-link" (click)="currentLocale = 'it-IT'">
                    <img src="/assets/img/flag_it-IT.svg">
                </a>
            </li>
            <li class="nav-item" *ngIf="currentLocale != 'en-US'">
                <a class="nav-link language-link" (click)="currentLocale = 'en-US'">
                    <img src="/assets/img/flag_en-US.svg">
                </a>
            </li>
        </ul>

        <!-- Profile settings and logout (small screen) -->
        <ul *ngIf="!(isGuest$ | async)" class="d-block d-sm-none navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#userSettingsModal">Impostazioni</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="onClickLogout()">Esci</a>
            </li>
        </ul>

    </div>

    <!-- User profile and logout (big screen) -->
    <div *ngIf="!(isGuest$ | async)" class="navbar navbar-right account-buttons">

        <app-notifications *ngIf="isUser$ | async"></app-notifications>

        <button class="settings-icon d-none d-sm-block" aria-label="Impostazioni" data-toggle="modal"
                data-target="#userSettingsModal"></button>

        <button class="exit-icon d-none d-sm-block" aria-label="Esci" (click)="onClickLogout()"></button>

    </div>
</nav>

<app-user-settings *ngIf="user$ | async"></app-user-settings>
