<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableItems"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-none d-lg-block" href="#">{{ applicationName }}</a>

    <div class="collapse navbar-collapse" id="collapsableItems">
        <!-- Guest links -->
        <ul *ngIf="isGuest$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/tryNow" routerLinkActive="active">Prova ora!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Accedi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">Registrati</a>
            </li>
        </ul>

        <!-- User links -->
        <ul *ngIf="isUser$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user', 'dashboard']" routerLinkActive="active">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user', 'shoppingLists']" routerLinkActive="active">Le mie liste</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user', 'products']" routerLinkActive="active">I miei prodotti</a>
            </li>
        </ul>

        <!-- Admin links -->
        <ul *ngIf="isAdmin$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'dashboard']" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'productCategories']" routerLinkActive="active">Categorie
                    prodotti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'products']" routerLinkActive="active">Prodotti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'shoppingListCategories']" routerLinkActive="active">Categorie
                    liste</a>
            </li>
        </ul>


        <!-- <div *ngIf="!(isGuest$ | async)" class="navbar-nav nav-item dropdown">

             <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{ (user$ | async)?.firstName }}
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                 <a class="dropdown-item" href="#" data-toggle="modal" data-target="#userSettingsModal">Profilo</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#" (click)="onClickLogout()">Logout</a>
             </div>
         </div>-->
    </div>

    <!-- User profile and logout -->
    <div *ngIf="!(isGuest$ | async)" class="navbar navbar-right account-buttons">

        <app-notifications></app-notifications>

        <button class="settings-icon" aria-label="Impostazioni"></button>

        <button class="exit-icon" aria-label="Esci"></button>

    </div>
</nav>

<app-user-settings *ngIf="user$ | async"></app-user-settings>
