<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Titolo applicazione</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Guest links -->
        <ul *ngIf="isGuest$ | async" class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Prova ora!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Accedi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">Registrati</a>
            </li>

        </ul>

        <!-- User links -->
        <ul *ngIf="isUser$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user', 'dashboard']" routerLinkActive="active">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user', 'shoppingLists']" routerLinkActive="active">Le mie liste</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user', 'products']" routerLinkActive="active">I miei prodotti</a>
            </li>
        </ul>

        <!-- Admin links -->
        <ul *ngIf="isAdmin$ | async" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'dashboard']" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'productCategories']" routerLinkActive="active">Categorie
                    prodotti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'products']" routerLinkActive="active">Prodotti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin', 'shoppingListCategories']" routerLinkActive="active">Categorie
                    liste</a>
            </li>
        </ul>

        <div *ngIf="!(isGuest$ | async)" class="navbar-nav nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ (user$ | async)?.firstName }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#userSettingsModal">Profilo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="onClickLogout()">Logout</a>
            </div>
        </div>
    </div>
</nav>

<app-user-settings *ngIf="user$ | async"></app-user-settings>
