<div class="modal fade" id="userSettingsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [buttons]="buttons" [title]="user.firstName" [(headerIcon)]="userPhoto">

            <!-- Email strip -->
            <div class="row">
                <div class="col-12 notebook-sheet-strip blue-strip">
                    <h6 [innerHTML]="'core.profile.email.title' | translate"></h6>
                </div>
            </div>

            <!-- Change email -->
            <form [formGroup]="changeEmailForm" (ngSubmit)="onChangeEmail()" class="row">
                <div class="form-group col-12 col-sm-8">
                    <input [placeholder]="'core.profile.email.emailPlaceholder' | translate" type="email" class="form-control"
                           formControlName="email">
                </div>
                <div class="col-12 col-sm-4">
                    <button type="submit" class="action-button"
                            [disabled]="!changeEmailForm.valid || isSaving">{{ 'core.profile.email.changeButton' | translate }}
                    </button>
                </div>
                <div class="col-12">
                    <p class="notebook-sheet-text">{{ 'core.profile.email.note' | translate }}</p>
                </div>

                <div *ngIf="emailRequestSent">
                    Email di verifica inviata
                </div>
            </form>

            <!-- Language -->
            <div class="row mt-3">
                <div class="col-12 notebook-sheet-strip blue-strip">
                    <h6 [innerHTML]="'core.profile.changeLanguageTitle' | translate"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-block language-button" [disabled]="isSaving" [class.current-language]="currentLocale == 'it-IT'"
                            (click)="currentLocale = 'it-IT'">
                        <img src="/assets/img/flag_it-IT.svg"> <span class="ml-2">Italiano</span>
                    </button>
                </div>

                <div class="col-6">
                    <button class="btn btn-block language-button" [disabled]="isSaving" [class.current-language]="currentLocale == 'en-US'"
                            (click)="currentLocale = 'en-US'">
                        <img src="/assets/img/flag_en-US.svg"> <span class="ml-2">English</span>
                    </button>
                </div>
            </div>


            <!-- Change password strip -->
            <div class="row mt-4">
                <div class="notebook-sheet-strip blue-strip col-12 bar">
                    <h6  [innerHTML]="'core.profile.changePasswordTitle' | translate"></h6>
                </div>
            </div>

            <!-- Change password -->
            <form class="row change-password" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">


                <!-- Current password -->
                <div class="form-group col-12">
                    <label for="currentPassword">{{ 'core.profile.password.currentPassword' | translate }}</label>
                    <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword"
                           [placeholder]="'core.profile.password.currentPassword' | translate">

                    <div *ngIf="changePasswordError"
                         class="alert alert-danger mt-2 mb-0">

                        <div>{{ 'core.profile.password.wrongCurrentPassword' | translate }}</div>
                    </div>
                </div>

                <!-- New password -->
                <app-new-password class="col-12" [passwords]="changePasswordForm.get('passwords')"></app-new-password>


                <div class="col-12 text-right">
                    <button type="submit" class="action-button"
                            [disabled]="!changePasswordForm.valid || isSaving">{{ 'core.profile.password.changeButton' | translate }}
                    </button>
                </div>
            </form>
        </app-notebook-sheet>
    </div>
</div>
