div.notebook-sheet-strip-container {
    min-height: var(--titleStripHeight);
}

div.notebook-sheet-strip {
    height: var(--titleStripHeight);
}


.change-password {
    overflow-y: auto;
}

.language-button {
    cursor: pointer;
}

.language-button.current-language {
    background-color: #E0D4CE;
}

.language-button img {
    width: 2em;
}
