.notebook-sheet-strip {
    padding-right: 2em;
    padding-left: 3em;
}

.focused {
    z-index: var(--zIndexModal);
}

.form-group {
    margin-bottom: .5em;
}

.results {
    position: absolute;
    width: 100%;
    max-height: 50vh;
    margin-left: -0.5em;

    z-index: 10;

    overflow-y: auto;

    background-color: white;

}

.results {
    max-width: calc(100vw - 5em);
    background-color: var(--lightDarkened);
    top: 3.5em;
}

ul {
    padding: 0.5em;
}

li {
    margin: 0;
    border-color: var(--light);
}

img.result-icon {
    width: 4em;
    height: 4em;
}


.row.already-in-list {
    text-decoration: line-through;
}
