<div class="row">
    <div class="col-12 notebook-sheet-strip green-strip" [class.focused]="isFocused">
        <div class="form-group">
            <input #searchFilter type="text" class="form-control" (keyup)="onUpdateSearchFilter(searchFilter.value)"
                   placeholder="Aggiungi qualcosa ...">
        </div>

        <div class="results" *ngIf="isFocused">
            <div *ngIf="isLoading" class="text-center loading">
                <em>Caricamento in corso...</em>
            </div>

            <div *ngFor="let productsByCategory of productsByCategories | keyvalue"  ><!--[disabled]="isProductAlreadyInList(product)"-->

                <div class="category-header">
                    <h6>{{ productsByCategory.key }}</h6>
                </div>

                <ul>
                    <li *ngFor="let product of productsByCategory.value" class="row product"
                        [class.already-in-list]="isProductAlreadyInList(product)" (click)="onAddProduct(product)">
                        <div class="col-3 col-sm-2">
                            <img class="result-icon icon" [src]="product.icon | image">
                        </div>
                        <div class="col-9 col-sm-10">
                            <h4>{{ product.name }}</h4>
                            <span>{{ product.category.name }}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Add product -->
            <div *ngIf="allowNewProducts && !isLoading" class="add-product-container text-center">
                <button class="action-button" (click)="createCustomProduct()">Aggiungi "<em>{{ filterText }}</em>"</button>
            </div>

            <!-- No results -->
            <div *ngIf="emptyResults && !allowNewProducts && !isLoading" class="text-center empty-results">
                <em>Nessun risultato</em>
            </div>
        </div>
    </div>
</div>


<div class="notifications-backdrop" [class.active]="isFocused" (click)="isFocused = false"></div>
