<!-- RECOVER PASSWORD FORM -->
<div class="modal fade" id="recoverPasswordModal" tabindex="-1" role="dialog"
     aria-labelledby="recoverPasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'landing.home.login.recoverPasswordLink' | translate" [buttons]="buttons">
            <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- Email input field -->
                    <label for="emailRecoverPassword">{{ 'landing.home.login.emailLabel' | translate}}</label>
                    <input type="email" class="form-control" id="emailRecoverPassword" aria-describedby="emailHelp"
                           placeholder="Email" formControlName="email" required autocomplete="email">

                    <div *ngIf="shouldShowErrors(email)" class="alert alert-danger">
                        <!-- Empty field -->
                        <div *ngIf="email.errors.required">
                            {{ 'landing.home.register.errors.insertEmail' | translate }}
                        </div>

                        <!-- Invalid email -->
                        <div *ngIf="email.errors.email">
                            {{ 'landing.home.register.errors.invalidEmail' | translate }}
                        </div>
                    </div>

                    <!-- Account not found error -->
                    <div *ngIf="wrongEmail" class="alert alert-danger">
                        <div>{{'landing.home.recoverPassword.accountNotFound' | translate }}</div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="modal-footer">
                    <button type="button" class="action-button back" data-dismiss="modal">{{ 'common.buttons.close' | translate }}</button>
                    <button type="submit" class="action-button" [disabled]="!recoverPasswordForm.valid || recovering">{{ 'landing.home.recoverPassword.recoverButton' | translate}}</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                <a href="#" class="link-cta dark" data-dismiss="modal" data-toggle="modal"
                   data-target="#loginModal">{{ 'landing.home.recoverPassword.goToLoginLink' | translate }}</a>
            </div>
        </app-notebook-sheet>
    </div>
</div>


<!-- EMAIL SENT -->
<div class="modal fade" id="recoverEmailSentModal" tabindex="-1" role="dialog"
     aria-labelledby="recoverEmailSentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'landing.home.recoverPassword.emailSent.title' | translate">
            <div class="row">
                <div class="col-12">
                    <p>{{ 'landing.home.recoverPassword.emailSent.description' | translate }}</p>
                </div>
            </div>
        </app-notebook-sheet>
    </div>
</div>
