<!-- RECOVER PASSWORD FORM -->
<div class="modal fade" id="recoverPasswordModal" tabindex="-1" role="dialog" aria-labelledby="recoverPasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recoverPasswordModalLabel">Recupera password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="emailRecoverPassword">Indirizzo email</label>
                        <input type="email" class="form-control" id="emailRecoverPassword" aria-describedby="emailHelp"
                               placeholder="Email" formControlName="email" required autocomplete="email">

                        <div *ngIf="shouldShowErrors(email)" class="alert alert-danger">
                            <div *ngIf="email.errors.required">
                                Inserisci l'indirizzo E-email del tuo account.
                            </div>
                            <div *ngIf="email.errors.email">
                                Indirizzo E-email non valido.
                            </div>
                        </div>

                        <div *ngIf="wrongEmail" class="alert alert-danger">
                            <div>
                                L'indirizzo E-email specificato non è nel nostro database.
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="action-button back" data-dismiss="modal">Chiudi</button>
                        <button type="submit" class="action-button" [disabled]="!recoverPasswordForm.valid || recovering">Recupera
                        </button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <a href="#" class="link-cta dark" data-dismiss="modal" data-toggle="modal"
                       data-target="#loginModal">Ti è tornata la memoria? Accedi</a>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- EMAIL SENT -->
<div class="modal fade" id="recoverEmailSentModal" tabindex="-1" role="dialog" aria-labelledby="recoverEmailSentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recoverEmailSentModalLabel">Controlla la posta in arrivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Ti abbiamo inviato una email con un link di recupero.
                </p>
            </div>
        </div>
    </div>
</div>
