<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class=" col-12 col-sm-8 col-md-6 ">

        <div *ngIf="!passwordChanged && !invalidCode">
            <h1>{{ 'landing.completeCoverPassword.title' | translate }}</h1>

            <p>{{ 'landing.completeCoverPassword.createNewPassword' | translate }}</p>

            <form [formGroup]="passwords" (ngSubmit)="onSubmit()">
                <app-new-password [passwords]="passwords"></app-new-password>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="action-button" [disabled]="!passwords.valid || recovering">
                        {{ 'common.buttons.save' | translate }}
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="passwordChanged" class="text-center">
            <h3>{{ 'landing.completeCoverPassword.passwordChanged' | translate }}</h3>
            <h4>{{ 'landing.completeCoverPassword.nowYouCanLogin' | translate }}</h4>
            <button [routerLink]="['/home']" [queryParams]="redirectLoginQueryParams"
                    class="action-button big mt-4 button-link">
                {{ 'common.buttons.login' | translate }}
            </button>
        </div>

        <div *ngIf="invalidCode">
            <h3>{{ 'common.buttons.verifyError' | translate }}</h3>
            <p>{{ 'common.buttons.retry' | translate }}</p>
        </div>

    </div>
</div>
