<app-notebook-sheet [title]="'landing.tryNow.newDemoList.title' | translate" [buttons]="buttons">
    <form class="container-fluid" #form="ngForm">
        <div class="form-group row">

            <div class="col-4">
                <label><strong>{{ 'landing.tryNow.newDemoList.selectCategory' | translate}}</strong></label>
            </div>

            <!-- Category selector -->
            <div class="col-8">
                <app-select [values]="categories$ | async"
                            [placeholder]="'landing.tryNow.newDemoList.categoryPlaceholder' | translate"
                            [(selected)]="newList.category"></app-select>
            </div>
        </div>

        <!-- Button to create the list -->
        <div class="col-12 text-right">
            <button type="submit" class="col-4 action-button link-cta primary"
                    [disabled]="!newList.category"
                    (click)="onCreate()">
                {{ 'landing.tryNow.newDemoList.createButton' | translate}}
            </button>
        </div>
    </form>
</app-notebook-sheet>
