ul {
    padding:0;
}

li {
    list-style: none;
    margin: 0;
}


div.permission label {
    width: 2em;
    height: 2em;
}

div.permission img {
    width: 100%;
    height: 100%;
}

input[type=radio] {
    display: none;
}

input[type=radio].admin + img {
    content: url("../../../../assets/img/ic_admin_permission_off.svg");
}
input[type=radio].admin:checked + img {
    content: url("../../../../assets/img/ic_admin_permission_on.svg");
}


input[type=radio].social + img {
    content: url("../../../../assets/img/ic_ham_permission_off.svg");
}
input[type=radio].social:checked + img {
    content: url("../../../../assets/img/ic_social_permission_on.svg");
}


input[type=radio].basic + img {
    content: url("../../../../assets/img/ic_ham_permission_off.svg");
}
input[type=radio].basic:checked + img {
    content: url("../../../../assets/img/ic_ham_permission_on.svg");
}
