.lists-list ul {
    padding: 0;
}

li.row {
    margin: 0;
}

.lists-list a {
    color: black;
}

.lists-list a:hover {
    text-decoration: none;
}

.lists-list img.icon {
    width: 100%;
    padding-right: .25em;
}

.lists-list .list-counter {
    margin: 0 1em;
}

.lists-list img.counter-icon,
.lists-list img.share-flag {
    width: 100%;
    max-width: 2em;
}


.counter-and-share-flag {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
}

.counter-and-share-flag div {
    padding-right: 0.5em;
}
