<div class="lists-list-container">
    <div class="modal-content lists-list">
        <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Le mie liste della spesa</h5>
        </div>

        <div class="modal-body">

            <div>

                <table class="my-lists-table">
                    <tbody>
                    <tr *ngFor="let list of lists$ | async">
                        <td class="list-icon">
                            <a [routerLink]="['/user', 'shoppingLists', list.id]">
                                <img [src]="list.icon | image" class="list-icon" width="64">
                            </a>
                        </td>

                        <td class="list-title-and-description">
                            <a [routerLink]="['/user', 'shoppingLists', list.id]">
                                <h3>{{ list.name }}</h3>
                                {{ list.description }}
                            </a>
                        </td>

                        <td class="list-items-counters">
                            <img src="assets/img/ic_ham.svg">
                            {{ list.itemsToBuyCount }} / {{ list.itemsCount }}
                        </td>

                        <td class="list-sharing-status">
                            <img src="assets/img/{{ list.shared ? 'ic_list_shared' : 'ic_list_not_shared' }}.svg">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <hr>
            </div>

            <div>
                <a data-toggle="modal" data-target="#newListModal">Crea una nuova lista...</a>
            </div>
        </div>
    </div>
</div>
<user-new-list></user-new-list>
