.row {
    padding: 1em 0;
    border-bottom: 2px dashed var(--lightDarkened);
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

img.icon {
    width: 100%;
    padding-right: .25em;
}

.list-counter {
    margin: 0 1em;
}

img.counter-icon,
img.share-flag {
    width: 100%;
    max-width: 2em;
}

.counter-and-share-flag {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
}

.counter-and-share-flag div {
    padding-right: 0.5em;
}
