
.add-product-bar {

    padding: .5em;

    background-color: var(--lightDarkened);
}


.results {
    position: absolute;
    width: 100%;
    max-height: 50vh;
    margin-left: -0.5em;

    z-index: 10;

    overflow-y: auto;

    background-color: white;

}

