button.active {
    background-color: #307CF6;
    color: white;
}

div.media {
    cursor: pointer;
}

div.select-category {
    overflow-y: auto;
}

div.select-category .list-group-item img {
    width: 4rem;
}

@media (max-width: 992px) {

    div.select-category {
        padding: 0;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: .5em;

        overflow-y: hidden;

        max-width: calc(100% - 30px);
    }

    div.select-category .list-group-item {
        min-height: 6rem;
        min-width: 9rem;
        height: 100%;
    }

    div.select-category .list-group-item img {
        width: 3rem;
    }
}

