div.notifications-backdrop {
    position: fixed;

    width: 100vw;
    height: 100vh;

    left: 0;
    top: 0;

    z-index: var(--zIndexBackdrop);

    pointer-events: none;

    transition: background-color 150ms linear;
}

div.notifications-backdrop.active {
    pointer-events: initial;

    background-color: rgba(0, 0, 0, 0.6);
}
