:root {
    --dark: #15202b;
    --light: #f9ede7;
    --lightDarkened: #cbb9a8;

    --buttonDark: #0a3c6b;
    --buttonVeryDark: #032342;
    --buttonLight: #145c9e;
    --buttonText: #FFF;
    --buttonDisabled: gray;
    --buttonDanger: red;
    --buttonDangerDark: darkred;

    --fontTitle: 'Lobster', serif;
    --fontRegular: 'Lato', sans-serif;

    --em-fix: .0625;

    --navbarHeight: 56px;
    --titleStripHeight: 2.5em;
    --searchBarHeight: 3.75em;


    --zIndexBackdrop: 100;
    --zIndexModal: 200;
    --zIndexNotificationsBox: 300;
}
