:root {
    --accountButtonIconWidth: 3em;
    --accountButtonIconHeight: 5em;
    --accountButtonScrollY: 0.3em;
    --accountButtonHeight: calc(var(--accountButtonIconHeight) + var(--accountButtonScrollY));
}

.account-buttons {
    padding: 0;
    height: 0;
}

.account-buttons button {
    width: var(--accountButtonIconWidth);
    height: var(--accountButtonHeight);

    margin-left: .5em;
    margin-top: -1.5em;

    border: 0;

    transition: transform 0.2s ease-out;

    cursor: pointer;
}

@media (min-width: 992px) {
    .account-buttons button {
        margin-top: 1.2em;
    }
}

.account-buttons button:hover {
    transform: translateY(var(--accountButtonScrollY));
}



.navbar-collapse.collapsing + .account-buttons .notifications-box-content-container,
.navbar-collapse.show + .account-buttons .notifications-box-content-container {
    visibility: hidden;
}
