
.notebook-sheet h5 {
    font-size: 2em;
    padding-top: .5em;
}

.notebook-sheet li {
    padding: 0.25em 0;
    border-bottom: 2px dashed var(--lightDarkened);
}

/* BUTTONS ON THE TOP RIGHT CORNER */
.notebook-sheet-buttons {
    position: absolute;
    top: 3em;
    right: -71px;

    display: flex;
    flex-direction: column;
}

.notebook-sheet-buttons button {
    cursor: pointer;

    width: 55px;
    height: 55px;

    border: 0;

    opacity: 1;
    transition: transform 0.1s ease-out;

    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .notebook-sheet-buttons {
        top: 0;
        right: 0;

        flex-direction: row;
    }

    .notebook-sheet-buttons button {
        width: 2em;
        height: 2em;
        margin-right: .5em;
    }
}

.notebook-sheet-buttons button:hover {
    transform: rotateY(15deg);
    transform-origin: top left;
}

.notebook-sheet-buttons button:active {
    transform: rotateY(30deg);
    transform-origin: top left;
}

.notebook-sheet-buttons button:focus {
    outline: none;
}

/* END*/

.close-icon {
    background: url("../assets/img/flag-close.svg");
}

@media (max-width: 576px) {
    .close-icon {
        background: url("../assets/img/flag-close-rotated.svg");
    }
}

/* Strip */
.notebook-sheet-content.with-strip {
    overflow-y: initial;
}

.notebook-sheet-strip {
    margin-left: -1em;
    margin-right: .1em;
    min-width: calc(100% + 1.1em);
    padding: .25em 0 0 2em;

    margin-bottom: 1em;
}

.notebook-sheet-strip h6 {
    color: white;
    font-size: 1.5rem;
}

.green-strip {
    background-color: var(--lightDarkened);
}

.blue-strip {
    background-color: var(--buttonLight);
}

/* End strip */

.notebook-sheet-text {
    font-weight: bold;
    font-family: var(--fontTitle);
}
