<div class="list-container">
    <div class="modal-content list" *ngIf="list">

        <!-- TODO: Remove hacky margin -->
        <div class="modal-header" style="margin-bottom: -180px;">
            <h5 class="modal-title">{{ list.name }}</h5>

            <div class="update-message">
                <div class="is-saving" *ngIf="isSaving">
                    Sto salvando ...
                </div>
                <div class="last-update" *ngIf="lastUpdate">
                    {{ lastUpdate | date }}
                </div>
            </div>

            <div class="modal-header-buttons">
                <button *ngIf="userCanEditCollaborations" type="button" class="share-icon" data-dismiss="modal"
                        aria-label="Impostazioni di condivisione"
                        data-toggle="modal" data-target="#listSharingSettingsModal"></button>
                <button type="button" class="settings-icon" data-dismiss="modal" aria-label="Impostazioni"
                        data-toggle="modal" data-target="#listOptionsModal"></button>
                <button type="button" class="close-icon" data-dismiss="modal" aria-label="Chiudi"></button>
            </div>
        </div>

        <user-list-search [list]="list" (addProduct)="onAddProduct($event)"></user-list-search>

        <div class="modal-body">
            <table>
                <thead>
                <tr>
                    <td></td>
                    <td>Prodotto</td>
                    <td>Qta.</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of list.products">
                    <td>
                        <div class="form-group list-product-bought-state">
                            <div class="checkbox-container">
                                <input type="checkbox" class="form-check-input" (change)="toggleToBuy(product)"
                                       [checked]="product.toBuy">

                                <span class="checkbox-tick"></span>
                            </div>
                        </div>
                    </td>

                    <td class="product-image-name-and-note">
                        <app-show-change-image [(image)]="product.image"
                                               (imageChange)="notifyChange()"></app-show-change-image>

                        {{ product.product.name }}<br>

                        <user-product-list-note [product]="product"
                                                (noteChange)="notifyChange()"></user-product-list-note>
                        {{product.note}}
                    </td>
                    <td>
                        <span (click)="decrementQuantity(product)">-</span>
                        <span>{{ product.quantity }}</span>
                        <span (click)="incrementQuantity(product)">+</span>
                    </td>
                    <td><span (click)="removeProduct(product)">X</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<user-list-share-settings *ngIf="list" [list]="list"></user-list-share-settings>
<list-options *ngIf="list" [list]="list"></list-options>
