
div.container.user-page {
    min-width: 100vw;
    height: calc(100vh - 52px);
    margin: 0;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    background-color: var(--user-background);
}
