<div class="row notebook-sheet-list-item" *ngIf="!deleted">
    <div class="col-1" style="padding-top: 1em;">
        <div class="form-group list-product-bought-state">
            <app-checkbox (checkedChange)="toggleToBuy(product)" [checked]="product.bought"></app-checkbox>
        </div>
    </div>

    <div class="col-1" style="padding-top: 1em;">
        <img src="/assets/img/ic_bin.svg" class="bin"  (click)="removeProduct(product)">
    </div>

    <div class="col-3 col-sm-2" style="height: 4em;">
        <app-show-change-image [(image)]="product.image"
                               (imageChange)="notifyChange()"></app-show-change-image>

    </div>

    <div class="col-6 col-sm-5">
        <p>
            <strong>{{ product.product.name }}</strong>

            <user-product-list-note [product]="product"
                                    (noteChange)="notifyChange()"></user-product-list-note>
        </p>
    </div>

    <div class="col-12 col-sm-3 quantity-box d-flex align-items-center justify-content-end justify-content-sm-center">
        <button class="quantity-button" (click)="incrementQuantity(product)">+</button>
        <span class="quantity-number" [class.to-buy]="!product.bought">{{ product.quantity }}</span>
        <button class="quantity-button" [disabled]="product.quantity <= 1" (click)="decrementQuantity(product)">-
        </button>
    </div>
</div>
