

button.quantity-button {
    font-weight: bold;
    font-size: 2em;
    background-color: transparent;
    border: 0;
}

.quantity-number {
    font-size: 1.5em;
    margin: 0 0.5em;

    text-decoration: line-through;
}


.quantity-number.to-buy {
    text-decoration: none;
}


img.bin {
    border: 0;
    width: 1.5em;
    height: 1.5em;
}
