<div class="modal fade new-list" id="inviteToSubscribe" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <app-notebook-sheet [title]="'landing.tryNow.inviteToSubscribe.title' | translate" [buttons]="buttons">
           <div class="container-fluid">
               <!-- Sharing -->
               <div class="row feature">
                   <div class="col-12 col-sm-4 feature-image">
                       <img src="/assets/img/ic_sharing.svg">
                   </div>
                   <div class="col-12 col-sm-8 feature-description">
                       {{ 'landing.tryNow.inviteToSubscribe.share' | translate}}
                   </div>
               </div>

               <!-- Customize -->
               <div class="row feature">
                   <div class="d-sm-none col-12 feature-image">
                       <img src="/assets/img/ic_customize.svg">
                   </div>
                   <div class="col-10 col-sm-8 feature-description">
                        {{ 'landing.tryNow.inviteToSubscribe.customize' | translate}}
                   </div>
                   <div class="d-none d-sm-block col-sm-4 feature-image">
                       <img src="/assets/img/ic_product.svg">
                   </div>
               </div>

               <!-- Multiple lists -->
               <div class="row feature">
                   <div class="col-12 col-sm-4 feature-image">
                       <img src="/assets/img/ic_clipboard.svg">
                   </div>
                   <div class="col-12 col-sm-8 feature-description">
                       {{ 'landing.tryNow.inviteToSubscribe.moreLists' | translate}}
                   </div>
               </div>

               <!-- Register -->
               <div class="row mt-2 mb-2 d-flex justify-content-center">
                   <button class="action-button" (click)="register()" >{{ 'core.navbar.register' | translate }}</button>
               </div>
           </div>
        </app-notebook-sheet>
    </div>
</div>
