<div class="modal fade new-list" id="inviteToSubscribe" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <app-notebook-sheet title="Sblocca le funzionalità!" [buttons]="buttons">
           <div class="container-fluid">
               <!-- Sharing -->
               <div class="row feature">
                   <div class="col-12 col-sm-4 feature-image">
                       <img src="/assets/img/ic_sharing.svg">
                   </div>
                   <div class="col-12 col-sm-8 feature-description">
                       Condivi la lista e chatta con i tuoi amici
                   </div>
               </div>

               <!-- Customize -->
               <div class="row feature">
                   <div class="d-sm-none col-12 feature-image">
                       <img src="/assets/img/ic_customize.svg">
                   </div>
                   <div class="col-10 col-sm-8 feature-description">
                        Aggiungi o creo prodotti con immagini personalizzate
                   </div>
                   <div class="d-none d-sm-block col-sm-4 feature-image">
                       <img src="/assets/img/ic_customize.svg">
                   </div>
               </div>

               <!-- Multiple lists -->
               <div class="row feature">
                   <div class="col-12 col-sm-4 feature-image">
                       <img src="/assets/img/ic_organize.svg">
                   </div>
                   <div class="col-12 col-sm-8 feature-description">
                        Gestisci più list per mantenerti organizzato
                   </div>
               </div>

               <!-- Register -->
               <div class="row mt-2 mb-2 d-flex justify-content-center">
                   <button class="action-button" (click)="register()" >Registrati</button>
               </div>
           </div>
        </app-notebook-sheet>
    </div>
</div>
