<div *ngIf="list">

    <div class="d-flex flex-row">
        <app-user-list
            [list]="list"
            (openSettings)="onOpenSettings()"
            (openShareSettings)="onOpenShareSettings()"
            (back)="onBack()"
            (openChat)="onOpenChat()"
        ></app-user-list>

        <!-- Chat -->
        <list-chat [list]="list" [(isOpen)]="isChatOpen"></list-chat>
    </div>

    <!-- Dialog with sharing settings -->
    <user-list-share-settings [list]="list"></user-list-share-settings>

    <!-- Dialog with list options -->
    <list-options [list]="list"></list-options>

</div>
