
div.notifications-box {
    position: relative;

    margin-top: 11.5em;
    transform: translateY(-15em);
    transition: transform 0.1s ease-out;
}

div.notifications-box.box-open {
    transform: translateY(0);
}


.notifications-box-content {
    width: 25em;
    height: 15em;
    max-width: 90vw;

    color: white;

    background-color: var(--buttonLight);
}

.notifications-icon {
    position: absolute;
    right: 0;
    margin-top: -0.3em;

    background: url("../../../assets/img/flag-notifications-navbar.svg");

    outline: none;
    cursor: pointer;
}

button.notifications-icon.unread-notifications {
    background: url("../../../assets/img/flag-unread-notifications-navbar.svg");

    height: 7.3em;

    padding-top: 1.5em;
}

div.notifications-box.box-open .notifications-icon {
    bottom: -5em;
}

div.notifications-box.box-open .notifications-icon.unread-notifications {
    bottom: -7em;
}

button span.unread-notification-count {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--fontTitle);
}
