<div class="row">
    <div class="col-12">
        <h2>{{ 'admin.listCategories.title' | translate }}</h2>
    </div>

    <div class="col-12 d-lg-none d-flex justify-content-end">
        <!-- New category button -->
        <button class="new-category-button btn mb-2" (click)="onCreate()">
            {{ 'common.buttons.create' | translate }}
        </button>
    </div>
</div>

<div class="row">

    <!-- Container of list of categories -->
    <div class="col-12 col-lg-4 d-flex d-lg-block categories">

        <!-- New category button -->
        <button class="list-group-item d-none d-lg-block new-category-button btn btn-block mb-2" (click)="onCreate()">
            {{ 'common.buttons.create' | translate }}
        </button>

        <!-- List of categories -->
        <div class="list-group-item category" *ngFor="let category of categories" [class.active]="category == selected"
             (click)="selected = category">
            <div class="row">
                <div class="col-12 col-lg-2 text-center">
                    <img class="category-icon" [src]="category.icon | image">
                </div>
                <div class="col-12 col-lg-10 mt-1 mt-sm-0 text-center">
                    <h5 class="category-name">{{ category.name }}</h5>
                </div>
            </div>
        </div>

    </div>

    <!-- Editor for the selected category -->
    <div class="col-12 col-lg-8 mt-3 mt-lg-0">
        <div *ngIf="selected">
            <admin-shopping-list-view-editor [shoppingListCategory]="selected" (cancel)="onCancel($event)"
                                             (deleted)="onDeleted($event)"
            ></admin-shopping-list-view-editor>

        </div>
    </div>
</div>
