<div class="modal-content notebook-sheet">
    <div class="modal-header notebook-sheet-header">

        <div class="row">
            <app-show-change-image class="mt-3 ml-1 mr-3" *ngIf="headerIcon" [image]="headerIcon"
                                   (imageChange)="onImageChanged($event)" [editable]="headerIconEditable"></app-show-change-image>

            <h5 class="modal-title">
                {{ title }}
            </h5>
        </div>

        <div class="notebook-sheet-buttons">
            <button *ngFor="let button of visibleButtons" type="button" [ngClass]="button.iconClass" [title]="button.title"
                    (click)="button.onClick()"></button>
        </div>
    </div>

    <div class="modal-body notebook-sheet-content d-flex">
        <div class="container-fluid">
            <ng-content></ng-content>
        </div>
    </div>
</div>
