.notebook-sheet {
    display: flex;
    flex-direction: column;

    position: relative;

    max-width: 32em;
    width: 32em;
    /*max-height: calc(85vh - var(--navbarHeight));*/

    margin: 2em 0;
    padding: 0 1em 1em 1em;

    background: transparent url("../../../../assets/img/modal-top.svg") top center;
    border-radius: 0;
    border: none 0;

    background-size: cover;

    box-shadow: 15px 15px 3px 0 #00000088;
}

.modal-body {
    padding: 0;
}

@media (max-width: 576px) {
    .notebook-sheet {
        max-width: calc(100vw - 30px); /* 30px = 15px bootstrap container margin * 2 */
    }
}

.notebook-sheet.always-tall {
    height: 48em;
}

.notebook-sheet-header {
    position: relative;

    padding-top: 1.5em;
    margin-bottom: 1em;
}

.notebook-sheet-content {
    /*max-height: calc(80vh - var(--navbarHeight));*/
}

.notebook-sheet h5 {
    font-size: 2em;
    padding-top: .5em;
}

.notebook-sheet li {
    padding: 1em 0;
    border-bottom: 2px dashed var(--lightDarkened);
}

/* BUTTONS ON THE TOP RIGHT CORNER */
.notebook-sheet-buttons {
    position: absolute;
    top: 3em;
    right: -71px;

    display: flex;
    flex-direction: column;
}

.notebook-sheet-buttons button {

    width: 55px;
    height: 55px;

    border: 0;

    opacity: 1;
    transition: transform 0.1s ease-out;

    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .notebook-sheet-buttons {
        top: 0;
        right: 0;

        flex-direction: row;
    }

    .notebook-sheet-buttons button {
        width: 2em;
        height: 2em;
        margin-right: .5em;
    }
}

.notebook-sheet-buttons button:hover {
    transform: rotateY(15deg);
    transform-origin: top left;
}

.notebook-sheet-buttons button:active {
    transform: rotateY(30deg);
    transform-origin: top left;
}

.notebook-sheet-buttons button:focus {
    outline: none;
}

/* END*/

.close-icon {
    background: url("../../../../assets/img/flag-close.svg");
}

@media (max-width: 576px) {
    .close-icon {
        background: url("../../../../assets/img/flag-close-rotated.svg");
    }
}

.scroll-container {
    margin-left: -60px;
    /*
        height: 80px;*/
    overflow-y: auto;
}

.my-container {
    margin-left: 60px;
    /*
        height: 300px;
        width: 200px;
        background-color: blue;*/
    margin-right: auto;
}

/* Strip */
.notebook-sheet-text {
    font-weight: bold;
    font-family: var(--fontTitle);
}

.container-fluid {
    display: flex;
    flex-direction: column;

    padding-right: 0;
    padding-left: 0;
}


/* Start icons */
.share-icon {
    background: url("../../../../assets/img/flag-share.svg");
}

.settings-icon {
    background: url("../../../../assets/img/flag-settings.svg");
}

.message-icon {
    background: url("../../../../assets/img/flag-message.svg");
}


@media (max-width: 576px) {
    .share-icon {
        background: url("../../../../assets/img/flag-share-rotated.svg");
    }

    .settings-icon {
        background: url("../../../../assets/img/flag-settings-rotated.svg");
    }

    .message-icon {
        background: url("../../../../assets/img/flag-message-rotated.svg");
    }
}
/* End icons */

.modal-header {
    display: block;
}
