.products.container-fluid {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    padding: 0;
}

.notebook-sheet {
    min-height: 350px;
}

.add-first-product img.add-first-product-arrow {
    width: 4em;
    transform: rotate(90deg);
    margin: 2em 0;
}

.add-first-product div.add-first-product-text {
    margin-bottom: 3em;
}
