<div class="notebook-sheet always-large always-tall list">

    <!-- TODO: Remove hacky margin -->
    <div class="notebook-sheet-header">
        <h5>{{ list.name }}</h5>

        <div class="update-message">
            <div class="is-saving" *ngIf="isSaving">
                Sto salvando ...
            </div>
            <div class="last-update" *ngIf="lastUpdate">
                {{ lastUpdate | date }}
            </div>
        </div>

        <div class="notebook-sheet-buttons">
            <button *ngIf="userCanEditCollaborations" type="button" class="share-icon" data-dismiss="modal"
                    aria-label="Impostazioni di condivisione"
                    (click)="openShareSettings.emit()"></button>

            <button *ngIf="userCanEditInfo" type="button" class="settings-icon" data-dismiss="modal" aria-label="Impostazioni"
                    (click)="openSettings.emit()"></button>

            <button type="button" class="close-icon" data-dismiss="modal" aria-label="Chiudi"
                    (click)="back.emit()"></button>
        </div>
    </div>

    <user-list-search [list]="list" (addProduct)="onAddProduct($event)"
                      (createProduct)="onCreateProduct($event)"></user-list-search>

    <div class="notebook-sheet-content">
        <div>
            <ul class="products-list">
                <li class="row">
                    <div class="col-2 col-sm-1"></div>
                    <div class="col-3 col-sm-2"></div>
                    <div class="col-4 col-sm-6">Prodotto</div>
                    <div class="col-3 col-sm-3">Qta.</div>
                    <div></div>
                </li>

                <user-shopping-list-product *ngFor="let product of list.products" [product]="product">
                </user-shopping-list-product>
            </ul>
        </div>
    </div>
</div>

<app-new-user-product *ngIf="list" [customProductName]="customProductName" [shoppingList]="list"></app-new-user-product>
