<div class="modal fade" id="listOptionsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'user.listPage.options.title' | translate" [buttons]="buttons" [(headerIcon)]="list.icon"
            [headerIconEditable]="canUserUpdateListInfo">
            <form #form="ngForm">
                <!-- Name -->
                <div class="form-group row">
                    <label for="name" class="col-12 col-sm-4">{{ 'user.listPage.options.name' | translate }}</label>
                    <div class="col-12 col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="list.name" placeholder="Nome"
                               id="name" name="name" required [disabled]="!canUserUpdateListInfo">
                    </div>
                </div>


                <!-- Category -->
                <div class="form-group row">
                    <label for="category" class="col-12 col-sm-4">{{ 'user.listPage.options.category' | translate }}</label>
                    <div class="col-12 col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" [ngModel]="list.category.name"
                               id="category" name="category">
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group row">
                    <label for="category" class="col-12 col-sm-4">{{ 'user.listPage.options.description' | translate }}</label>
                    <div class="col-12 col-sm-8">
                        <textarea type="text" class="form-control" [(ngModel)]="list.description"
                                  [placeholder]="'user.listPage.options.description' | translate"
                                  [disabled]="!canUserUpdateListInfo"
                                  id="description" name="description"></textarea>
                    </div>
                </div>


                <!-- Created by -->
                <div class="form-group row">
                    <label for="category" class="col-12 col-sm-4">{{ 'user.listPage.options.createdBy' | translate }}</label>
                    <div class="col-12 col-sm-8">
                        <img [src]="list.creator.photo | image" class="icon small-icon mr-2">
                        {{ list.creator.firstName }} <span *ngIf="isUserTheCreator">(Io)</span>
                    </div>
                </div>


                <!-- Buttons -->
                <div class="modal-footer mt-2 buttons">
                    <button *ngIf="isUserTheCreator" class="col-4 action-button link-cta danger"
                            (click)="onDeleteList()">
                        {{ 'user.listPage.options.deleteButton' | translate }}
                    </button>

                    <button *ngIf="canUserUpdateListInfo" type="submit" class="col-4 action-button link-cta primary"
                            [disabled]="!form.valid || isSaving"
                            (click)="onSave()">
                        {{ 'common.buttons.save' | translate }}
                    </button>
                </div>

            </form>
        </app-notebook-sheet>
    </div>
</div>

<confirm-delete-list [list]="list"></confirm-delete-list>
