<div class="media">
    <div class="mr-3">
        <app-show-change-image [(image)]="category.icon" [editable]="isEditing"></app-show-change-image>
    </div>

    <div class="media-body">
        <form #form="ngForm">

            <!-- Show name -->
            <h5 class="mt-0" *ngIf="!isEditing">{{ category.name }}</h5>

            <!-- Edit name -->
            <div class="form-group form-inline" *ngIf="isEditing">
                <label for="categoryName">Nome</label>
                <input type="text" class="form-control ml-3" id="categoryName" [(ngModel)]="category.name" name="name"
                       required>

                <div *ngIf="nameConflict" class="alert alert-danger">
                    <div>
                        Un'altra categoria ha già questo nome.
                    </div>
                </div>
            </div>

            <!-- Show description -->
            <div *ngIf="!isEditing" [innerHTML]="category.description"></div>

            <!-- Edit description -->
            <editor *ngIf="isEditing" [init]="editorConfig" [(ngModel)]="category.description" name="description"
                    required></editor>

            <div class="media-bottom d-flex justify-content-end mt-2">
                <button class="action-button link-cta mr-1" *ngIf="!isEditing" (click)="isEditing = true">Modifica
                </button>

                <button class="action-button link-cta mr-1" *ngIf="isEditing"
                        [disabled]="!(form.valid && category.icon != null) || isSavingOrCreating"
                        (click)="saveOrCreate()">{{ isNew ? 'Crea' : 'Salva' }}
                </button>

                <button class="action-button link-cta danger" *ngIf="isEditing" (click)="onCancel()">Annulla</button>

                <button class="action-button link-cta danger" *ngIf="!isEditing" (click)="onDelete()">Elimina</button>
            </div>

        </form>
    </div>
</div>
