<li class="list-group-item" [class.is-editing]="isEditing">
    <div class="media">
        <!-- Icon of the category -->
        <div class="mr-3">
            <app-show-change-image [(image)]="category.icon" [editable]="isEditing"></app-show-change-image>
        </div>

        <div class="media-body">
            <form #form="ngForm">

                <!-- Show name -->
                <h5 class="mt-0" *ngIf="!isEditing">{{ category.name }}</h5>

                <!-- Edit name -->
                <div class="form-group row" *ngIf="isEditing">
                    <label class="col-12 col-sm-2">
                        {{ 'common.fields.name' | translate }}
                    </label>
                    <div class="col-12 col-sm-10">
                        <input type="text" class="form-control ml-3" [(ngModel)]="category.name"
                               name="name"
                               required>
                    </div>

                    <!-- Error that appears when the user tries to save/create a category which name is already used -->
                    <div *ngIf="nameConflict" class="col-12 mt-2 alert alert-danger">
                        <div>
                            {{ 'admin.productCategories.errors.categoryNameConflict' | translate}}
                        </div>
                    </div>
                </div>

                <!-- Show description -->
                <div *ngIf="!isEditing" [innerHTML]="category.description"></div>

                <!-- Edit description -->
                <editor *ngIf="isEditing" [init]="editorConfig" [(ngModel)]="category.description" name="description"
                        required></editor>

                <!-- Buttons -->
                <div class="media-bottom d-flex justify-content-end mt-2">
                    <button class="action-button link-cta mr-1" *ngIf="!isEditing" (click)="isEditing = true">
                        {{ 'common.buttons.edit' | translate }}
                    </button>

                    <button class="action-button link-cta mr-1" *ngIf="isEditing"
                            [disabled]="!(form.valid && category.icon != null) || isSavingOrCreating"
                            (click)="saveOrCreate()">
                        {{ ('common.buttons.' + (isNew ? 'create' : 'save')) | translate}}
                    </button>

                    <button class="action-button link-cta danger" *ngIf="isEditing" (click)="onCancel()">
                        {{ 'common.buttons.cancel' | translate }}
                    </button>

                    <button class="action-button link-cta danger" *ngIf="!isEditing" (click)="onDelete()">
                        {{ 'common.buttons.delete' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</li>
