<div class="modal fade" id="newUserProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-notebook-sheet [title]="'core.list.newProduct.title' | translate" [buttons]="buttons">
            <form class="row" #form="ngForm">

                <!-- New product icon -->
                <div class="col-3 col-sm-2">
                    <app-show-change-image [(image)]="newProductIcon"></app-show-change-image>
                </div>

                <div class="col-9 col-sm-10">
                    <div class="row">
                        <!-- Name -->
                        <div class="col-12 col-sm-3">
                            <label>{{ 'common.fields.name' | translate}}</label>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="form-group">
                                <input class="form-control" placeholder="Nome oggetto" [(ngModel)]="customProductName"
                                       name="newUserProductName" id="newUserProductName" required>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="col-12 col-sm-3">
                            <label>{{ 'common.fields.category' | translate}}</label>
                        </div>
                        <div class="col-12 col-sm-9">
                            <app-select [values]="categories$ | async"
                                        [(selected)]="newProduct.category"
                                        [placeholder]="'common.fields.categoryPlaceholder' | translate"></app-select>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <img src="/assets/img/ic_info.svg" class="info-icon"> <em>
                    {{ 'core.list.newProduct.note' | translate }}
                </em>
                </div>

                <!-- Create button -->
                <div class="col-12 text-right">
                    <button type="submit" class="col-4 action-button link-cta primary"
                            [disabled]="!form.valid || newProduct.category == null || isSaving"
                            (click)="onSave()">
                        {{ 'common.buttons.create' | translate }}
                    </button>
                </div>
            </form>
        </app-notebook-sheet>
    </div>
</div>
