<!-- Collaborators -->
<div *ngFor="let collaboration of list.collaborations" class="row notebook-sheet-list-item pb-0 pb-sm-2">
    <!-- Photo -->
    <div class="col-2 col-sm-1 mb-2 mb-sm-0">
        <img class="icon small-icon" [src]="collaboration.user.photo | image">
    </div>

    <!-- Name -->
    <div class="col-10 col-sm-6 mb-2 mb-sm-0" [attr.aria-label]="collaboration.user.email">
        <span>
            <strong>{{ collaboration.user.firstName }}</strong>
        </span>
        <br>
        <span class="collaborator-email">
            <em>{{ collaboration.user.email }}</em>
        </span>
    </div>

    <!-- Space if small screen -->
    <div class="d-block d-sm-none col-6"></div>

    <!-- Permissions -->
    <div class="col-4 col-sm-3 collaborator-permission permission" *ngIf="!isMyCollaboration(collaboration)">
        <div class="permissions-radios">
            <label [for]="'admin' + collaboration.id">
                <input type="radio" [name]="'permission' + collaboration.id"
                       [(ngModel)]="collaboration.role" class="admin"
                       [id]="'admin' + collaboration.id"
                       [value]="roles.ADMIN" (change)="notifyChanges()"
                       [disabled]="!canChangeOtherUsersPermissions">
                <div></div>
            </label>

            <label [for]="'social' + collaboration.id">
                <input type="radio" [name]="'permission' + collaboration.id"
                       [id]="'social' + collaboration.id"
                       [(ngModel)]="collaboration.role" class="social"
                       [value]="roles.SOCIAL" (change)="notifyChanges()"
                       [disabled]="!canChangeOtherUsersPermissions">
                <div></div>
            </label>

            <label [for]="'basic' + collaboration.id">
                <input type="radio" [name]="'permission' + collaboration.id"
                       [(ngModel)]="collaboration.role" class="basic"
                       [id]="'basic' + collaboration.id"
                       [value]="roles.BASIC" (change)="notifyChanges()"
                       [disabled]="!canChangeOtherUsersPermissions">
                <div></div>
            </label>
        </div>
    </div>

    <!-- Delete -->
    <div class="col-2 col-sm-2" *ngIf="!isMyCollaboration(collaboration)">
        <button class="delete" (click)="onDeleteCollaboration(collaboration)" [disabled]="!canChangeOtherUsersPermissions">
            <img src="/assets/img/ic_eraser.svg">
        </button>
    </div>

    <!-- Remove myself from list -->
    <div class="col-sm-5 text-right text-sm-center mb-1 mb-sm-0" *ngIf="isMyCollaboration(collaboration)">
        <button class="action-button link-cta danger" (click)="onDeleteCollaboration(collaboration)"
                [disabled]="isDeleting">
            {{ 'user.listPage.share.collaborationOptions.leaveButton' | translate }}
        </button>
    </div>
</div>


<!-- Invites -->
<div *ngFor="let invite of list.invites" class="row notebook-sheet-list-item invite pb-0 pb-sm-2">
    <!-- Photo -->
    <div class="col-2 col-sm-1">
        <img class="icon small-icon" src="/assets/img/ic_invited_user.svg">
    </div>

    <!-- Name -->
    <div class="col-10 col-sm-6">
        {{ invite.email }}
    </div>

    <!-- Space if small screen -->
    <div class="d-block d-sm-none col-6"></div>

    <!-- Permissions -->
    <div class="col-4 col-sm-3 collaborator-permission permission">
        <div class="permissions-radios">
            <label>
                <input type="radio" class="admin" disabled>
                <div></div>
            </label>

            <label>
                <input type="radio" class="social" disabled>
                <div></div>
            </label>

            <label>
                <input type="radio" class="basic" checked disabled>
                <div></div>
            </label>
        </div>
    </div>

    <!-- Delete -->
    <div class="col-2 col-sm-2">
        <button class="delete" (click)="onDeleteInvite(invite)" [disabled]="!canChangeOtherUsersPermissions">
            <img src="/assets/img/ic_eraser.svg">
        </button>
    </div>
</div>
