<h2>{{ 'admin.productCategories.title' | translate }}</h2>

<!-- Top bar -->
<div class="row">

    <!-- Search -->
    <form class="form-inline col-12 col-md-8">
        <input class="form-control w-100" type="search" [placeholder]="'admin.productCategories.filterPlaceholder' | translate" aria-label="Search"
               #searchFilter (keyup)="onUpdateSearchFilter(searchFilter.value)">
    </form>

    <!-- Create new -->
    <div *ngIf="!newCategory" class="col-12 col-md-4 d-flex justify-content-end">
        <button class="btn" (click)="createCategory()">
            {{ 'admin.productCategories.createButton' | translate }}
        </button>
    </div>
</div>

<!-- Loading -->
<div *ngIf="loading">
    {{ 'common.states.loading' | translate }}
</div>


<!-- Display results -->
<div *ngIf="!loading">
    <ul class="list-group">
        <!-- Editor of the new category -->
        <admin-category-view-editor *ngIf="newCategory" class="mb-3" [category]="newCategory" (cancel)="newCategory = null"
                                    (created)="onNewCategoryCreated($event)"></admin-category-view-editor>

        <!-- Existing categories -->
        <admin-category-view-editor *ngFor="let category of categories" [category]="category"
                                    (delete)="onDelete($event)"></admin-category-view-editor>
    </ul>

    <app-pagination #pagination [(page)]="page"></app-pagination>
</div>


<!-- Delete category warning -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModalLabel">
                    {{ 'admin.productCategories.delete.title' | translate }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngIf="deletingCategory">
                    {{ 'admin.productCategories.delete.description.pre' | translate }}
                    <strong>{{ deletingCategory.name }}</strong>
                    {{ 'admin.productCategories.delete.description.post' | translate }}
                    <br>
                    {{ 'admin.productCategories.delete.warning' | translate }}
                </p>

                <!-- Confirm delete button -->
                <button class="action-button link-cta danger" (click)="onDeleteCategoryAfterWarning(deletingCategory)">
                    {{ 'common.buttons.delete' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>
